# -------------------------#
# CONFIGURAÇÕES PROMETHEUS #
# -------------------------#

# Informações básicas
TOOL_NAME=Prometheus
AUTHOR=Nxtvsdev (Bravo Dynamics)
VERSION=1.0.10
LANG=pt_BR
DESC=Ferramenta de automação de tarefas para auxiliar o usuário e melhorar sua produtividade.

# EasySharing
EASY_PATH=""
EASY_SERVER_IP=


# SelfDefense
BIT_LINK_CHECKER_URL = 'https://www.bitdefender.com/en-us/consumer/link-checker'
VIRUS_TOTAL_URL = 'https://www.virustotal.com/gui/home/upload'
BITWARDEN = 'https://bitwarden.com/'
PROTON_VPN = 'https://protonvpn.com/'

