# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env/
.venv/
env/

# Environment variables
.env
.env.*

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# SQLite
*.db
*.sqlite3

# VSCode
.vscode/

# PyCharm
.idea/

# mypy
.mypy_cache/

# pytest
.pytest_cache/

# Ruff
.ruff_cache/

# Coverage
.coverage
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints/

# OS files
Thumbs.db
.DS_Store

# Executables
*.exe

# Temporary files
*.tmp
*.temp

# Rich/Textual cache
.textual/

# dotenv
.python-version

# ----------------------
# Ignores do projeto

bin/